<html>

<head>
    <title>temperature</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script>
        function docReady(fn) {
            // see if DOM is already available
            if (document.readyState === "complete"
                || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }

        docReady(function () {
            var resultContainer = document.getElementById('qr-reader-results');
            var lastResult, countResults = 0;
            var temperature = 0;
            function onScanSuccess(decodedText, decodedResult) {
                // console.log(`Scan result ${decodedText}`, decodedResult);
                axios({
                    method: 'post',
                    url: 'http://api-dev.huakai.com.tw/api/2.3/health-care/auth',
                    data: { token: decodedResult.decodedText }
                }).then(function (response) {
                    $("#username").text(response.data.data.username);
                    $("#telephone").text(response.data.data.telephone);
                    $("#birthday").text(response.data.data.birthday);
                    $("#sex").text(response.data.data.sex);
                    $("#email").text(response.data.data.email);
                });


            }

            var html5QrcodeScanner = new Html5QrcodeScanner(
                "qr-reader", { fps: 2, qrbox: 500 });
            html5QrcodeScanner.render(onScanSuccess);
        });
        // setInterval(() => {
        //     axios({
        //         url: 'http://127.0.0.1:5000/present_user', method: 'get'
        //     }).then(function (response) {
        //         console.log(response.data);
        //         $("#present_user").text(+response.data.user_id + "|" + response.data.user_name);
        //         $("#temperature").text(response.data.temperature);
        //     })

        // }, 1000);
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light h-20">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">人員體溫檢測</a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <!-- <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="history">History</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="card text-dark bg-light col-md-6 col-sm-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h3>姓名：</h3>
                        </div>
                        <div class="h3 col" id="username"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>手機：</h3>
                        </div>
                        <div class="h3 col" id="telephone"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>生日：</h3>
                        </div>
                        <div class="h3 col" id="birthday"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>性別：</h3>
                        </div>
                        <div class="h3 col" id="sex"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>電子信箱：</h3>
                        </div>
                        <div class="h3 col" id="email"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1>體溫：</h1>
                        </div>
                        <div class="col">
                            <h5 class="card-title">
                                <div class="h1" id="temperature"></div>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>體重：</h1>
                        </div>
                        <div class="col">
                            <h5 class="card-title">
                                <div class="h1" id="kg"></div>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>血氧：</h1>
                        </div>
                        <div class="col">
                            <h5 class="card-title">
                                <div class="h1" id="oxygen"></div>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>脈搏：</h1>
                        </div>
                        <div class="col">
                            <h5 class="card-title">
                                <div class="h1" id="pulse"></div>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>收縮壓：</h1>
                        </div>
                        <div class="col">
                            <h5 class="card-title">
                                <div class="h1" id="pressure_S"></div>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>舒張壓：</h1>
                        </div>
                        <div class="col">
                            <h5 class="card-title">
                                <div class="h1" id="pressure_D"></div>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="qr-reader" class="w-90"></div>
            </div>
        </div>

    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top bg-light">
        <p class="col-md-6 col-sm-6 mb-0 text-muted">&copy; 2021 ITALAB</p>
        <ul class="nav col-md-6 col-sm-6 offset-sm-12 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link text-muted">Home</a></li>
            <li class="nav-item"><a href="History" class="nav-link text-muted">History</li>
        </ul>
    </footer>
</body>

</html>